@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '0-global' as *;

/* HEADER */
.header {
    width: 100%;
    background-color: var(--clr-neutral-white);
    padding-block: f.rem(16);

    &__container {
        @extend %width;
    }

    // navigation hamburger
    &__hamburger {
        background-color: transparent;

        @include bp.breakpointMin(large-screen) {
            display: none;
        }
    }

    // navigation menu
    &__nav {
        background-color: var(--clr-neutral-white);
        width: 100%;
        border-radius: f.rem(5);
        padding: f.rem(32);
        text-align: center;

        transform: translateY(7px);
        visibility: hidden;
        opacity: 0;

        transition: all .3s ease-in;

        &--item {
            &:not(:last-child) {
                margin-bottom: f.rem(16);
            }
        }

        &--link {
            @include m.text-style(400, var(--clr-primary-d-blue));

            @include bp.breakpointMin(large-screen) {
                color: var(--clr-neutral-g-blue);
            }
        }

        @include bp.breakpointMin(large-screen) {
            padding: 0;

            transform: translateY(0);
            visibility: visible;
            opacity: 1;

            &--item {
                &:not(:last-child) {
                    margin: {
                        bottom: 0;
                        right: 16px;
                    };
                }
            }
        }
    }

    .nav-toggle {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;

        box-shadow: rgba(255, 255, 255, 0.1) 0px 100px 100px 100px inset,
                    rgba(50, 50, 93, 0.25) 0px 200px 100px 50px, 
                    rgba(0, 0, 0, 0.3) 0px 50px 40px 40px;
        
        @include bp.breakpointMin(large-screen) {
            box-shadow: none;
        }
    }

    // request invite link
    &__link--request {
        @extend %link-request;

        @include bp.breakpointMax(large-screen) {
            display: none;
        }
    }
}