@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* HEADER DISPLAY */
.header {
    position: absolute;

    &__container--display {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburger {
        position: absolute;
        right: 0;
    }

    @include bp.breakpointMin(large-screen) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 67.5%;
        
            &--item {
                display: inline;
            }
        }
    }
}

/* MAIN - HERO */
.hero {

    &__container--display {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include bp.breakpointMin(xlarge-screen) {
            flex-direction: row-reverse;
        }
    }
}

/* SECTION - FEATURES DISPLAY */
.features {

    &__flex-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: f.rem(32);

        @include bp.breakpointMin(large-screen) {
            flex-direction: row;
            align-items: unset;
            gap: f.rem(32);
        }
    }

    &__list--display {
        display: flex;
        flex-direction: column;
        gap: f.rem(24);
    }
}

/* SECTION ARTICLE DISPLAY */
.article {

    &__container--grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, f.rem(260)), 1fr));
        gap: 1.875rem;
        gap: clamp(1.875rem, 5.46rem + -6.24vw, 4rem);
    }

    &__list--display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.75rem;
        gap: clamp(0.75rem, 0.58rem + 0.73vw, 1rem);
    }
}

// temp
.hero__container,
.features,
.article
// .footer
 {
    display: none;
}