@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

/* HEADER DISPLAY */
.header {
    position: absolute;

    &__container--display {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburger {
        position: absolute;
        right: 0;
    }

    @include bp.breakpointMin(medium-screen) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 67.5%;
        
            &--item {
                display: inline;
            }
        }
    }
}