@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */
/* HEADER POSITION */
.header {
    position: relative;
    z-index: 1;

    &__container--position {
        position: relative;
    }

    &__nav {
        position: absolute;
        bottom: -280px;
    }

    @include bp.breakpointMin(large-screen) {
        &__nav {
            position: unset;

            &--link {
                position: relative;

                
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 5px;
                    background: {
                        image: var(--primary-gradient);
                    };
                    bottom: -34px;
                    right: 0;
                    left: 0;
                    margin-inline: auto;
                    transition: all .3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

/* HERO */
.hero {

    &__img {

        @include bp.breakpointMin(xlarge-screen) {
            position: absolute;
        }
    }
}